@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Paytone+One&display=swap');

/*CONFIGURAÇÕES GERAIS*/

:root {
    --cor1: #FFFFFF;
    --cor2: #C6C5C5;
    --cor3: #8F8E8E;
    --cor4: #36a9e0;
    --cor5: #1d71b9;
    --cor6: #F22294;
    --cor7: #09980b;
    --cor8: #dbc716;
    --cor9: #F25D07;

    --fonte: 'Montserrat', sans-serif;
    --detalhes: 'Paytone One', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: var(--fonte);
}

.telas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.telas::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../imagens/gerais/background-bosque.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.container-telas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.685);
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
}

.container-telas h1 {
    font-family: var(--detalhes);
    text-align: center;
    font-size: 50px;
    color: var(--cor7);
    font-weight: bolder;
    margin: 15px 0px;
}

#container-telas-canvas{
    height: 70vh;
}

/*INDEX DO SITE*/
.logo-index {
    z-index: 2;
}

.logo-index img {
    height: 400px;
    border-radius: 20px;
}

.btn-login button {
    border: none;
    background-color: var(--cor7);
    color: var(--cor1);
    padding: 15px;
    border-radius: 15px;
    margin-left: 20px;
    font-weight: bolder;
}

.btn-login button:hover {
    background-color: var(--cor6);
}

/*HEADER E NAVBAR */

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-family: var(--detalhes);
    font-size: 32px;
    color: var(--cor1);
    text-decoration: none;
    font-weight: 700;
    margin-left: 150px;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: var(--cor1);
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--cor1);
}

.navbar a:hover::before {
    width: 100%;
}

.iniciar-login {
    margin-left: 60px;
}

.iniciar-login button {
    border: none;
    padding: 10px;
    background-color: #09980b6c;
    color: var(--cor1);
    font-weight: bolder;
    border-radius: 10px;
}

#sair {
    font-size: 18px;
    color: var(--cor1);
}

#sair:hover{
    cursor: pointer;
    text-decoration:underline;
}

/*TELA DE LOGIN*/

.dados {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    margin: 10px;
}

.dados>input {
    background-color: var(--cor2);
    padding: 10px;
    width: 40vw;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
}

.botoes {
    text-align: center;
}

.botoes-log {
    display: inline-block;
    margin-inline: 30px;
}

.botoes-log>input {
    background-color: var(--cor7);
    font-family: var(--fonte-geral);
    font-size: 12px;
    color: var(--cor1);
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
    width: 150px;
    display: inline-block;
}

.botoes-log>input:hover {
    background-color: var(--cor9);
}

.botoes-log>a>input {
    background-color: var(--cor7);
    font-family: var(--fonte-geral);
    font-size: 12px;
    color: var(--cor1);
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
    width: 150px;
    display: inline-block;
}

.botoes-log>a>input:hover {
    background-color: var(--cor9);
}

.botao-reseta {
    text-align: center;
    margin-top: 15px;
    padding: 5px;
}

.botao-reseta>a {
    color: black;
    font-weight: bolder;
    font-size: 13px;
    text-decoration: none;
}

/*TELA DE CADASTRO*/

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
}

#cad-h1 {
    font-size: 30px;
}

.itens {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bolder;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.itens input {
    background-color: var(--cor1);
    border: none;
    border-radius: 5px;
    padding: 4px;
    width: 35vw;
    margin-top: 5px;
}

.genero {
    font-size: 10px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.check {
    margin-inline: 9vw;
}

.botao-cadastro {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/*CONTAINER DO MENU INICIAL - PROFESSOR*/

.botoes-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.botoes-menu button {
    background: linear-gradient(to bottom, var(--cor4), var(--cor5));
    border: none;
    margin: 4px;
    padding: 10px;
    border-radius: 30px;
    width: 35vw;
    height: 15vh;
}

.botoes-menu a {
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--fonte);
    font-size: 20px;
    font-weight: bolder;
}

/*MEUS ALUNOS*/

.scrollable-alunos {
    margin: 30px;
    width: 40vw;
    height: 300px;
    overflow: auto;
    padding: 10px;
}

#botaoCadastrar {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(35, 231, 35), var(--cor7));
    color: var(--cor1);
    font-size: 16px;
    font-weight: bolder;
}

#botaoCadastrar:hover {
    background: var(--cor7);
}

.aluno {
    border-bottom: 2px solid grey; 
    padding: 8px; 
    margin-top: 10px;
    position: relative; 
  }

.botaoMeusAlunos {
    background: transparent;
    border: none;
    font-size: 25px;
}

.botaoMeusAlunosC{
    padding: 5px;
    background: linear-gradient(to bottom, rgb(35, 231, 35), var(--cor7));
    border: none;
    border-radius: 5px;
    color: var(--cor1);
    font-size: 16px;
}

.botaoMeusAlunosC:hover{
    background: var(--cor7);
}

.botaoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute; 
    margin-top: 15px;
    top: 0; 
    right: 0; 
  }

/*FILTRO - ALUNOS*/

.filtro-alunos select {
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.filtro-alunos input {
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.filtro-alunos button {
    border: none;
    padding: 8px;
    border-radius: 10px;
    background: linear-gradient(to bottom, var(--cor4), var(--cor5));
    color: var(--cor1);
    font-weight: bolder;
    margin-left: 40px;
}

.filtro-alunos button:hover {
    background: var(--cor5);
}

/*RELATÓRIO*/

.botaoHistorico{
    background: transparent;
    border: none;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute; 
    margin-top: 15px;
    top: 0; 
    right: 0; 
}

/*TELA ESCOLHER ATIVIDADE*/

.btn-questoes {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-questoes button {
    background: transparent;
    height: 300px;
    width: 300px;
    border: none;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
}

.btn-questoes img {
    border: 2px solid var(--cor7);
    width: 300px;
}

/*ABAS DO MENU*/

#artigos {
    padding: 10px;
    display: flex;
    font-size: 30px;
}

.sobre {
    text-align: justify;
}

.creditos {
    height: 45vh;
    font-size: 12px;
}

.logo-uepb img {
    height: 50px;
}

/*TELAS DOS JOGOS*/

.telas-jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telas-jogo button {
    background: linear-gradient(to bottom, var(--cor4), var(--cor5));
    color: var(--cor1);
    width: 100px;
    font-weight: bolder;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    transition: background 0.05s ease, color 0.3s ease;
}

.telas-jogo button:hover {
    background: var(--cor5);
}
#img-atv {
    height: 200px;
    width: 200px;
}

#img-atv-p{
    height: 150px;
    width: 150px;
}

#img-atv-g{
    height: 250px;
    width: 250px;
}

.img-atv2 {
    justify-content: space-between;
}

.instrucao-txt h1 {
    font-size: 30px;
}

.opcao-alt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcao-alt img {
    height: 100px;
    width: 100px;
    margin-inline: 20px;
}

.proximo img {
    margin: 15px;
    height: 50px;
}

.alternativas-atividade {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.opcao-animais img {
    height: 150px;
    width: 150px;
}

.tartarugas-atividade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.tartarugas-atividade button{
    background: transparent;
}

.tartarugas-atividade button:hover{
    background: none;
}

.opcao-tart{ 
    text-align: center;
}

.btn-tartaruga button{
    border: none;
    background: none;
    padding: 20px;
}

.btn-tartaruga img {
    max-width: 100%;
    height: auto;
}

.historia-txt{
    text-align: center;
}

.alternativas-imagens {
    display: flex;
}

.alternativas-imagens img{
    margin:10px;
}
  
.draggable {
width: 100px;
height: 100px;
margin: 10px;
}

.dropzone {
width: 100px;
height: 100px;
border: 2px dashed #ccc;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}

.alternativas-girafa{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
}

.alternativas-girafa img{
    margin-left: 100px;
    height: 100px;
    width: 100px;
}

#imagem1,
#imagem2{
    height: 200px;
    width: 200px;
}