<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="..\css/style.css">
    <!--CSS-->

    <title>Cognofauna - Cadastro (Professor)</title>
</head>

<body>
    <div class="telas">
        <section class="container-telas">
           
                <div class="cadastro">
                    <h1 id="cad-h1">PREENCHA COM OS DADOS</h1>
                    <div class="itens" >
                        <label for="nome">Nome</label>
                        <input type="text" id="name" required placeholder="Insira o nome completo">
                    </div>
                    
                    <div class="itens" >
                        <label for="nascimento">Data de Nascimento</label>
                        <input type="date" id="birthdate" required>
                    </div>
                    <div class="itens" >
                        <label for="instituicao">Instituição</label>
                        <input type="text" id="instituicao" required>
                    </div>
                    <div class="itens" >
                        <label for="ocupacao">Ocupação</label>
                        <input type="text" id="ocupacao" required>
                    </div>
                    <div class="genero">
                        <label for="genero">Gênero</label>
                        <div class="check">
                            <input type="radio" name="sexo" id="gen-man">Masculino
                            <input type="radio" name="sexo" id="gen-woman">Feminino
                            <input type="radio" name="sexo" id="gen-null">Não declarar
                        </div>
                    </div>
                    <div class="itens" >
                        <label for="endereço">Cidade / Estado</label>
                        <input type="text" id="address" required>
                    </div>
                    
                    <div class="itens" >
                        <label for="email">Endereço de e-mail</label>
                        <input type="text" id="email" required>
                    </div>
                    <div class="itens">
                        <label for="senha">Senha</label>
                        <input type="password" id="password" required>
                    </div>
                    <div class="itens">
                        <label for="senha">Confirmar senha</label>
                        <input type="password" id="confirmpassword" required>
                    </div>
                </div>
                <div class="botao-cadastro">
                    <div class="botoes-log">
                        <input type="button" value="CADASTRAR" onclick="registerUser()">
                    </div>
                </div>
            
        </section>
    </div>

    <!--JS-->
    <script src="../javascript/cadastrarProfessor.js"></script>

</body>

</html>