<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="..\css/style.css">
    <!--CSS-->

    <title>Cognofauna - Cadastro (Aluno)</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <p id="sair" onclick="apagarCookie()">Sair</p>
        </nav>
    </header>

    <div class="telas">
        <section class="container-telas">
                <div class="cadastro">
                    <h1 id="cad-h1">PREENCHA COM OS DADOS</h1>
                    <div class="itens" >
                        <label for="nome">Nome</label>
                        <input type="text" id="name" required placeholder="Insira o nome completo">
                    </div>
                    <div class="itens" >
                        <label for="nascimento">Data de Nascimento</label>
                        <input type="date" id="birthdate" required>
                    </div>
                    <div class="itens" >
                        <label for="instituicao">Escola</label>
                        <input type="text" id="escola" required>
                    </div>
                    <div class="itens" >
                        <label for="ocupacao">Ano / Série</label>
                        <input type="text" id="anoSerie" required>
                    </div>
                    <div class="genero">
                        <label for="genero">Gênero</label>
                        <div class="check">
                            <input type="radio" name="sexo" id="Masculino">Masculino
                            <input type="radio" name="sexo" id="Feminino">Feminino
                            <input type="radio" name="sexo" id="Não declarado">Não declarar
                        </div>
                    </div>
                    <div class="itens" >
                        <label for="endereço">Cidade / Estado</label>
                        <input type="text" id="address" required>
                    </div>
                </div>
                <div class="botao-cadastro">
                    <div class="botoes-log">
                        <input type="button" value="CADASTRAR" onclick="registrarAluno()">
                    </div>
                </div>
            
        </section>
    </div>

    <!--JS-->

    <script src="../javascript/cadastrarAluno.js"></script>
    <script src="../javascript/token.js"></script>
    <script src="../javascript/sair.js"></script>
</body>

</html>