<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/aplicação-main/css/style.css">
    <title>Cognofauna</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <p id="sair" onclick="apagarCookie()">Sair</p>
        </nav>
    </header>

    <section class="telas">
        <div class="btn-questoes">
            <button id="primeiro"><img src="../imagens/teste.png" alt=""></button>
            <button id="segundo"><img src="../imagens/teste.png" alt=""></button>
            <button id="terceiro"><img src="../imagens/teste.png" alt=""></button>
            <button id="tartaruga"><img src="../imagens/teste.png" alt=""></button>
            <button id="ninhoArvore"><img src="../imagens/teste.png" alt=""></button>
            <button id="gatoCachorro"><img src="../imagens/teste.png" alt=""></button>
            <button id="gatoRato"><img src="../imagens/teste.png" alt=""></button>
            <button id="animaisIguais"><img src="../imagens/teste.png" alt=""></button>
            <button id="animalComida"><img src="../imagens/teste.png" alt=""></button>
            <button id="animalSombra"><img src="../imagens/teste.png" alt=""></button>
            <button id="girafaArvore"><img src="../imagens/teste.png" alt=""></button>

            <button id="todos"><img src="../imagens/teste.png" alt=""></button>
        </div>
    </section>


    <script src="../javascript/capitulos.js"></script>
    <script src="../javascript/token.js"></script>
    <script src="../javascript/sair.js"></script>
</body>
</html>