<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Contatos</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="main.html">FAUNA</a>
        <nav class="navbar">
            <a href="main.html">Início</a>
            <a href="creditos.html">Créditos</a>
            <a href="contato.html">Contato</a>
        </nav>
    </header>
    <section class="telas">
            <div class="container-telas">
            <h1 id="artigos">CONTATOS</h1>
            <div class="top-contato">
                <br>
                <h2>Instituição operante</h2>
                <p>--Adicionar depois--</p>
                <h2>Horário de funcionamento</h2>
                <p>--Adicionar depois--</p>
            </div>
            <div class="bottom-contato">
                <input type="text" placeholder="*Nome" required>
                <input type="text" placeholder="*E-mail" required>
                <input type="text" placeholder="*Assunto" required>
                <input type="text" id="caixa-mensagem"  placeholder="*Mensagem" required>
                <div class="botao-enviar"><input type="button" value="Enviar"></div>
            </div>
        </div>
    </section>

</body>
</html>