<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">
    <title>Cognofauna</title>
</head>
<body>
    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <p id="sair" onclick="apagarCookie()">Sair</p>
        </nav>
    </header>

    <div class="telas">
        <section class="container-telas">
            <h1 id="artigos">CRÉDITOS</h1>
            <div class="creditos">
                <h2>Equipe desenvolvedora: </h2>
                <p>--Adicionar depois--</p>
                <h2>Professores e orientadores:</h2>
                <p>--Adicionar depois--</p>
                </p>
                <h2>Colaboradores:</h2>
                <p>--Adicionar depois--</p>
                <h2>Instituições:</h2>
                <p>--Adicionar depois--</p>
            </div>
            <div class="logo-uepb">
                <img src="../imagens/gerais/uepb.png" alt="logo-uepb">
            </div>
        </section>

    </div>
</body>
</html>