<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Cognofauna</title>
</head>
<body>    
    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <a href="main.html">Início</a>
            <a href="contato.html">Sair</a>
        </nav>
    </header>
    
    <section class="telas">
        <div class="container-telas">
            <div class="telas-jogo">
                <div class="instrucao-txt">
                    <h1>ENCONTRE TODAS AS TARTARUGAS</h1>
                </div>
                <div class="tartarugas-atividade">
                    <div class="opcao-tart" id="Cachorro">
                        <button class="btn-tartaruga"><img src="..\imagens/animais/cachorro.png" alt="cachorro"></button>
                    </div>
                    <div class="opcao-tart" id="Tartaruga">
                        <button class="btn-tartaruga"><img src="..\imagens/animais/tartaruga.png" alt="tartaruga"></button>
                    </div>
                    <div class="opcao-tart" id="Gato">
                        <button class="btn-tartaruga"><img src="..\imagens/animais/gato.png" alt="gato"></button>
                    </div>
                    <div class="opcao-tart" id="Tartaruga">
                        <button class="btn-tartaruga"><img src="..\imagens/animais/tartaruga.png" alt="tartaruga"></button>
                    </div>
                    <div class="opcao-tart" id="Peixe">
                        <button class="btn-tartaruga"><img src="..\imagens/animais/peixe.png" alt="peixe"></button>
                    </div>
                    <div class="opcao-tart" id="Tartaruga">
                        <button class="btn-tartaruga"><img src="..\imagens/animais/tartaruga.png" alt="tartaruga"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--JS-->
    <script src="../javascript/token.js"></script>
    <script src="../javascript/encontreTartaruga.js"></script>

</body>
</html>