<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Cognofauna</title>
</head>
<body>    
    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <p id="sair" onclick="apagarCookie()">Sair</p>
        </nav>
    </header>

    <section class="telas">
        <div class="container-telas">
            <div class="telas-jogo">
                <div class="instrucao-txt">
                    <h1>OUÇA A HISTÓRIA</h1>
                </div>
                
                <audio controls>
                    <source src="caminho/do/arquivo-de-audio.mp3" type="audio/mp3">
                </audio>
                <div class="historia-txt">
                    <h2>O CACHORRO E O GATO <br> SE ENCONTRARAM NA FLORESTA</h2>
                </div>
                <div class="img-atv">
                    <img id="img-atv" src="..\imagens\animais\gato.png" alt="cenoura.png">
                    <img id="img-atv" src="..\imagens/animais/cachorro.png" alt="cachorro.png">
                </div>
                <div class="proximo">
                    <a href="gatoCachorro.html"><img src="..\imagens/gerais/btn-proximo.png" alt="btn-proximo"></a>
                </div>
            </div>
        </div>
    </section>

    <!--JS-->
    <script src="../javascript/token.js"></script>
    <script src="../javascript/sair.js"></script>
</body>
</html>