<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Cognofauna</title>
</head>
<body>    

    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <a href="main.html">Início</a>
            <a href="contato.html">Sair</a>
        </nav>
    </header>
    
    <section class="telas">
        <div class="container-telas">
            <div class="telas-jogo">
                <div class="instrucao-txt">
                    <h1>QUEM BRINCOU COM O GATO? </h1>
                </div>
                <div class="alternativas-atividade">
                    <div class="opcao-animais" id="Raposa">
                        <img src="..\imagens/animais/raposa.png" alt="raposa">
                        <button class="btn-macaco">RAPOSA</button>
                    </div>
                    <div class="opcao-animais" id="Rato">
                        <img src="..\imagens/animais/rato.png" alt="rato">
                        <button class="btn-coelho">RATO</button>
                    </div>
                    <div class="opcao-animais" id="Coelho">
                        <img src="..\imagens/animais/coelho.png" alt="coelho">
                        <button class="blue-cachorro">COELHO</button>
                    </div>
                    <div class="opcao-animais" id="Macaco">
                        <img src="..\imagens/animais/macaco/macaco.png" alt="macaco">
                        <button class="btn-raposa">MACACO</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--JS-->
    <script src="../javascript/token.js"></script>
    <script src="../javascript/gatoRato.js"></script>

</body>
</html>