<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Cognofauna</title>
</head>
<body>    
    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <a href="main.html">Início</a>
            <a href="contato.html">Sair</a>
        </nav>
    </header>
    
    <section class="telas">
        <div class="container-telas">
            <div class="telas-jogo">
                <div class="instrucao-txt">
                    <h1>PINTE O PATO DE VERDE <br> E A BALEIA DE VERMELHO</h1>
                </div>
                <div class="img-atv2">
                    <img id="img-atv" src="..\imagens/animais/pato/pato-desenho.png" alt="pato.png">
                    <img id="img-atv" src="..\imagens/animais/baleia/baleia-desenho.png" alt="baleia.png">
                </div>
                <div class="alternativas-atividade">
                    <div class="opcao-alt" id="Vermelho">
                        <img src="..\imagens/lapis/lapis vermelho.png" alt="vermelho">
                        <button class="btn-vermelho">VERMELHO</button>
                    </div>
                    <div class="opcao-alt" id="Amarelo">
                        <img src="..\imagens/lapis/lapis amarelo.png" alt="amarelo">
                        <button class="btn-amarelo">AMARELO</button>
                    </div>
                    <div class="opcao-alt" id="Azul">
                        <img src="..\imagens/lapis/lapis azul.png" alt="azul">
                        <button class="blue-button">AZUL</button>
                    </div>
                    <div class="opcao-alt" id="Verde">
                        <img src="..\imagens/lapis/lapis verde.png" alt="verde">
                        <button class="btn-verde">VERDE</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--JS-->
    <script src="../javascript/atv2.js"></script>

</body>
</html>