<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Cognofauna</title>
</head>
<body>    
    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <p id="sair" onclick="apagarCookie()">Sair</p>
        </nav>
    </header>
    
    <section class="telas">
        <div class="container-telas">
            <div class="telas-jogo">
                <div class="instrucao-txt">
                    <h1>QUEM COMEU A CENOURA? </h1>
                </div>
                <div class="alternativas-atividade">
                    <div class="opcao-animais" id="Macaco">
                        <img src="..\imagens/animais/macaco/macaco.png" alt="macaco">
                        <button class="btn-macaco">MACACO</button>
                    </div>
                    <div class="opcao-animais" id="Coelho">
                        <img src="..\imagens/animais/coelho.png" alt="coelho">
                        <button class="btn-coelho">COELHO</button>
                    </div>
                    <div class="opcao-animais" id="Cachorro">
                        <img src="..\imagens/animais/cachorro.png" alt="cachorro">
                        <button class="blue-cachorro">CACHORRO</button>
                    </div>
                    <div class="opcao-animais" id="Raposa">
                        <img src="..\imagens/animais/raposa.png" alt="raposa">
                        <button class="btn-raposa">RAPOSA</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--JS-->
    <script src="../javascript/token.js"></script>
    <script src="../javascript/atv3-2.js"></script>
    <script src="../javascript/sair.js"></script>
</body>
</html>