<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Cognofauna</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <p id="sair" onclick="apagarCookie()">Sair</p>
        </nav>
    </header>

    <section class="telas">
        <div class="container-telas">
            <h1>MENU</h1>
            <div class="botoes-menu">
                <button type="button"><a href="alunos.html">MEUS ALUNOS</a></button>
                <button type="button"><a href="editarProfessor.html">EDITAR DADOS</a></button>
                <button type="button"><a href="relatorio.html">RELATÓRIO</a></button>
            </div>
        </div>
    </section>
    
    <script src="../javascript/token.js"></script>
    <script src="../javascript/sair.js"></script>

</body>

</html>