<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Cognofauna</title>
</head>
<body>    

    <header class="header">
        <a class="logo" href="main.html">COGNOFAUNA</a>
        <nav class="navbar">
            <a href="main.html">Início</a>
            <a href="contato.html">Sair</a>
        </nav>
    </header>

    <section class="telas">
        <div class="container-telas">
            <div class="telas-jogo">
                <div class="instrucao-txt">
                    <h1>TOQUE NAS IMAGENS DA HISTÓRIA</h1>
                </div>
                <div class="alternativas-imagens">
                    <div class="opcao-animais" id="Passaro">
                        <img src="..\imagens/animais/passaro.png" alt="passaro">
                    </div>
                    <div class="opcao-animais" id="Ninho">
                        <img src="..\imagens/animais/ninho.png" alt="ninho">
                    </div>
                    <div class="opcao-animais" id="Arvore">
                        <img src="..\imagens/animais/arvore.png" alt="arvore">
                    </div>
                    <div class="opcao-animais" id="Lago">
                        <img src="..\imagens/animais/lago.png" alt="lago">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--JS-->
    <script src="../javascript/token.js"></script>
    <script src="../javascript/ninhoArvore.js"></script>

</body>
</html>