<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Cognofauna - Sobre</title>
</head>
<body>
    <div class="body-content">
        <header class="header">
            <a class="logo" href="main.html">COGNOFAUNA</a>
            <nav class="navbar">
                <a href="main.html">Início</a>
                <a href="sair.html">Sair</a>
            </nav>
        </header>
        <section class="telas">
            <div class="container-telas">
                <h1 id="artigos">SOBRE</h1>
                <div class="sobre">
                    <p>Adicionar informações sobre a aplicação depois!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab cum expedita tempore porro commodi corporis totam ad aliquid perspiciatis dolor sed nisi praesentium repellat, cupiditate dolorem perferendis quo sunt reiciendis.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus inventore illo, odio sed a maxime laudantium ad tempore accusamus dicta, perferendis, nobis est unde optio architecto atque eum. Quas, enim?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore nam molestiae quidem reiciendis ut architecto sunt soluta suscipit, minus sint eaque, itaque corrupti neque ipsa maxime alias accusantium error!</p>
                </div>
            </div>
        </section>

    </div>
    
</body>
</html>